<!-- Footer -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/img/reliable-cleaning-logo.png" alt="Reliable Cleaning Logo" style="width:150px;" />
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://fb.com/TC.reliablecleaning.services"><i class="fab fa-facebook-f"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; 2018-{{ 'now' | date: "%Y" }} Reliable Cleaning Services</span>
            </div>
        </div>
    </div>
</footer>
